/orami_cache/06/*
/orami_cache/0c/*
/orami_cache/0e/*
/orami_cache/14/*
/orami_cache/1a/*
/orami_cache/1f/*
/orami_cache/21/*
/orami_cache/22/*
/orami_cache/27/*
/orami_cache/31/*
/orami_cache/34/*
/orami_cache/35/*
/orami_cache/49/*
/orami_cache/4f/*
/orami_cache/54/*
/orami_cache/5c/*
/orami_cache/61/*
/orami_cache/67/*
/orami_cache/68/*
/orami_cache/6b/*
/orami_cache/6e/*
/orami_cache/73/*
/orami_cache/7a/*
/orami_cache/7b/*
/orami_cache/7c/*
/orami_cache/7d/*
/orami_cache/7f/*
/orami_cache/89/*
/orami_cache/8f/*
/orami_cache/93/*
/orami_cache/9a/*
/orami_cache/a1/*
/orami_cache/a6/*
/orami_cache/ae/*
/orami_cache/b3/*
/orami_cache/b8/*
/orami_cache/d7/*
/orami_cache/e1/*
/orami_cache/e9/*
/orami_cache/f2/*
/orami_cache/f7/*
/orami_cache/fc/*
/orami_cache/fd/*
/oramiproducts.csv
